#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather-widget {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
  align-items: center;
}

.weather-widget > div {
  margin: 0 0.3em;
}

.temp-line {
  width: 30em;
  height: 1em;
  border: 1px solid #646cff;
  border-radius: 2em;
  background: linear-gradient(to right, blue, red);
  position: relative;
}

@media screen and (max-width: 500px) {
  .temp-line {
    width: 15em;
  }
}

.temp-line > .temp-slider {
  margin-right: 1em;
  position: relative;
}

.temp-slider .day-current {
  position: absolute;
}

.day-current::before {
  content: ' ';
  display: block;
  height: .9em;
  width: .9em;
  border: 1px solid orange;
  border-radius: 100%;
}